<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Topper List of <%= contest.contestName %></title>

        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
       
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="../../images/ico.jpg" type="image/x-icon" />
        <%- include('../includes/boostrap-head.ejs') %> 
        <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>

        
    </head>


    

  <body class="bg-light">
    <%- include('../includes/accountantNav.ejs') %>  
    <main id="main">
        
     

      
          
          <div class="mx-2">
            <hr class="mb-2 bg-dark table-responsive" ><h4 class="mb-3 text-center text-white p-3" style="background-color: darkblue;"><i>Topper List </i></h4><hr>
            <div class="table-responsive">
                <table class="table table-bordered table-hover text-center">
                 
                  <tr class="bg-dark text-white">
                    <th>#Rank</th>
                    <th>#Name</th>
                    <th>#Roll</th>
                    <th>#Regi</th>
                    <th>#Year</th>
                    <th>#Div</th>
                    <th>#Phn</th>
                    <th>#Pay</th>
                  </tr>
                  <% for(let i = 0; i < contestHistory.length; i++ ){%>
                    <tr>
                      <td><%=contestHistory[i].position%></td>
                      <td><%=user[i].firstname%> <%=user[i].lastname%></td>
                      <td></span><%=user[i].sscRollNo %></td>
                      <td><%=user[i].sscRegiNo %></td>
                      <td><%=user[i].sscPassingYear %></td>
                      <td><%=user[i].division %></td>
                      <td><%=user[i].phoneNumber %></td>
                      <td>
                        <a class="btn  <% if (paidUserId[i]===user[i].id) { %>btn-danger disabled<% } else { %>btn-primary<% } %>" href="/accountant/make-payment/<%=user[i].id%>-<%=contest.id%>-<%=contestHistory[i].position%>">Send</a>

                      </td>

                    </tr>
                    <%}%>

                 
                </table>
                
                </div>


              
            
                 

                    
                        

                        
                       
                     
                  
                   
                </table>


              
            
              
          </div>
       
       
    </main>

<%- include('../includes/end.ejs') %>

   
    
                              


    

