<!DOCTYPE html>
    <html lang="en">
       <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Set Question</title>

        <meta name="author" content="tutorialforbeginner.com">
        <meta property="og:site_name" content="www.tutorialforbeginner.com" />
       
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href="../../images/ico.jpg" type="image/x-icon" />
        <%- include('../includes/boostrap-head.ejs') %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    

        <script src="/js/table/table.js"></script>
        <link rel="stylesheet" href="/css/table.css" >
        <script>
          $(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#example tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );
 
    // DataTable
    var table = $('#example').DataTable({
        initComplete: function () {
            // Apply the search
            this.api().columns().every( function () {
                var that = this;
 
                $( 'input', this.footer() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        }
    });
 
} );
        </script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" >

          <style>
            .navbar-collapse .navbar-nav{float:none;margin:0 auto;text-align:center}img{max-width:100%}#footer{background:#232323;padding:30px 0 0 0;font-size:12px;color:#999}#footer a{color:#ccc}#footer a:hover{color:#fff}#footer h3.widget-title{font-size:15px;font-size:.9375rem;text-transform:uppercase;color:#fff;margin:0 0 20px}#underfooter{background:#191919;padding:15px 0;color:#777;font-size:12px}#underfooter a{color:#aaa}#underfooter a:hover{color:#fff}@media (min-width:1200px){.container{max-width:1080px}}body{overflow-x:hidden}#sidebar-wrapper{min-height:100vh;margin-left:-15rem;-webkit-transition:margin .25s ease-out;-moz-transition:margin .25s ease-out;-o-transition:margin .25s ease-out;transition:margin .25s ease-out}#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}#sidebar-wrapper .list-group{width:15rem}#page-content-wrapper{min-width:100vw}#wrapper.toggled #sidebar-wrapper{margin-left:0}@media (min-width:768px){#sidebar-wrapper{margin-left:0}#page-content-wrapper{min-width:0;width:100%}#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}}.row.content{height:auto;width:auto}.sidenav{padding-top:20px;background-color:#f1f1f1;height:cover}footer{background-color:#555;color:#fff;padding:15px}@media screen and (max-width:767px){.sidenav{height:auto;padding:15px}.row.content{height:auto}}
          </style>

        
    </head>


    

  <body class="bg-light">
    <%- include('../includes/moderatorNav.ejs') %>  
    <main id="main">
        
     

      <hr class="mb-2 bg-dark" ><h3 class="mb-3 text-center text-white p-3" style="background-color: darkblue;"><i>Set Contest Question</i></h3><hr>
      <div class="sticky-top" style="background-color: #9e0808;  padding-top: 10px; padding-left: 10px;padding-right: 10px; border-radius: 10px 10px 10px 10px;">
                             
        <div class="nav d-flex justify-content-between mb-3 ">
          <h5 class="text-white" >EASY: <%=contestType.easyQuestionQuantity%>/<span id="ea"></span> </h5>
          <h5 class="text-white" >STANDARD: <%=contestType.standardQuestionQuantity%>/<span id="st"></span>  </h5>
          <h5 class="text-white" >HARD: <%=contestType.hardQuestionQuantity%>/<span id="ha"></span>  </h5>
          
        </div>
       
        
      </div>
          
          <div class="mx-2">
           
           <form action="/moderator/set-question" method="POST">
               
            <table id="example" class="display text-center" style="width:100%">
              <thead >
                  <tr>
                      <th>Select</th>
                      <th>SubjectId</th>
                      <th>Level</th>
                      <th>Chapter</th>
                      <th>Question</th>
                      
                  </tr>
              </thead>
          
              <% if(allquestion.length>0) {%>
                <% for(question of allquestion) {%>

                <tr>
                  <td><input type="checkbox" name="questionSet[]" value="<%=question.id%>" class="mr-2"><%=question.id%></td>
                  <td><%=question.subjectId%></td>
                  <td><%=question.dificulty%></td>
                  <td><%=question.chapter%></td>
                  <td class="text-left"><%-question.question%></td>
                </tr>
                  <%}%>
                  <%}%>

              </tbody>
              <tfoot>
                  <tr>
                    <th>Select</th>
                    <th>SubjectId</th>
                    <th>Level</th>
                    <th>Chapter</th>
                    <th>Question</th>
                  </tr>
              </tfoot>
          </table>
             
              
             
              <hr class="mt-5">
              
              <input type="hidden" name="contestTypeId" value="<%=contestTypeId%>">
              <input type="hidden" name="contestId" value="<%=contestId%>">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg my-3">Set</button>
              </div>
             
             
              
            </form>
              
          </div>

       
       
       
    </main>

    

<%- include('../includes/end.ejs') %>

   
    
                              


    

